*
!*/
!*.*
!LICENSE
!PKGBUILD
*~
*.class
*.out
*.exe
*.dll
*.so
*.user
CMakeLists.txt.user.*
CMakeCache.*
CMakeFiles/
cmake_install.cmake
Makefile
.vs/
.vscode/
*.o
*.cache
obj/
Debug/
Release/
cpp/*/build/
build/
dist/
build-*-Debug/
build-*-Profile/
build-*-Release/
.idea/
*.vgcore
vgcore.*
.qmake.stash
rust/*/target/
node_modules/
.pkg.tar.xz
.env
